<%-include('header')-%>
    <div class="box">
        <h1 id="heading"><%=title%></h1>
    </div>
    <div class="box">
        <% items.forEach((item)=> { %>
        <form action="/delete" method="post">
            <div class="item">
                    <input type="checkbox" name="checkBox" value="<%=item._id%>" onChange="this.form.submit()"> 
                    <p><%=item.name%></p>
                    <input type="hidden" name="listName" value="<%=title%>">
            </div>
        </form>
        <% }); %>
        <form action="/" method="post" class="item">
            <input type="text" name="addItem" placeholder="Add item" autocomplete="off">
            <button type="submit" name="list" value="<%=title%>">+</button>
        </form>
    </div>
<%-include('footer')-%>
