<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather at your location</title>
</head>
<body>
    <div class="main">
        <img src="<%=imgURL%>" alt="noImg">
        <h1><%=name%></h1>
        <br>
        <h2>Current Temp: <%=temp%>°</h2>
        <h2>Weather: <%=desc%></h2>
        <h2>Pressure: <%=pressure%> hPa</h2>
        <h2>Humidity: <%=humid%>%</h2>
    </div>
</body>
</html>